 body {
  font-family: 'Bree Serif', serif;
  text-align: center;
  color: #3264b5;
  background: url(/assets/css/images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 /*-------------------------------------------navbar*/

 .navbar {
  margin-bottom: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .9);
  border: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
 }

 .navbar-dark .navbar-nav .nav-link {
  color: #83aff7;
 }

 .navbar-dark .navbar-nav .nav-link:hover {
  color: #3264b5;
  transition: ease-in-out 0.3s;
 }


 /*-------------------------------------------callout-container*/

 h1,
 h2 {
  font-family: 'Bree Serif', cursive;
 }

 .heading-border {
  border: 3px inset #83aff7;
  border-radius: 10px;
  padding: 9px;
 }

 .main-section {
  padding: 15px;
 }

 .text {
  font-size: 1.1em;
 }

 .main-image {
  width: 95%;
 }

 .band-image {
  width: 70%;
  margin: 20px 0;
 }

 .link {
  font-family: 'Gloria Hallelujah', cursive;
  color: #83aff7;
  font-weight: 700;
  display: inline-block;
  margin: 10px
 }

 .link:hover {
  color: #3264b5;
  text-decoration: none;
  -moz-transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
 }

 .over-lay {
  background-color: rgba(0, 0, 0, .9);

 }

 /*--------------------Social-links Footer*/

 .footer {
  background-color: rgba(0, 0, 0, 0.9);
 }

 .list-inline {
  line-height: 40px;
  margin: 0px;
 }

 .list-inline i {
  font-size: 22px;
  margin: 0px 17px;
 }

 .social-links a {
  color: #83aff7;
 }

 .social-links i:hover,
 .social-links a:hover {
  color: #3264b5;
  -moz-transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
 }

 /*-----------------------------------section Listen\*/

 .track-cover {
  float: left;
  width: 50%;
  margin: 0px 10px 10px 10px;
 }

 .track-title-1 {
  font-family: 'Bree Serif', serif;
  margin-top: 10px;
  border: none;
  text-align: left;
 }

 .player {
  margin: 0 10px;
  width: 50%;
  float: left;
 }

 .track-cover-opposite {
  width: 50%;
  margin: 0px 10px 10px 10px;
  float: right;
 }

 .track-title-opposite {
  font-family: 'Bree Serif', serif;
  margin-top: 10px;
  border: none;
  text-align: right;
 }

 .player-opposite {
  margin: 0 10px;
  width: 50%;
  float: right;
 }

 .video-2 {
  width: 100%;
  height: 270px;
  margin-bottom: 35px;
 }

 .bottom-row {
  border-top: 1px solid #fff;
 }

 .music-apps-container {
  padding: 25px 0px;
  text-align: center;
 }

 .music-apps {
  font-size: 80px;
  text-align: center;
  float: none;
 }

 .music-apps:hover {
  text-shadow: 0px 0px 20px #3264b5;
 }

 .fa-spotify {
  color: #1ed760;
 }

 .fa-soundcloud {
  color: #fe6200;
 }

 .fa-apple {
  color: #fff;
 }

 /*-------------------------------------------Media Queries*/

 @media (min-width: 768px) {

  .navbar {
   height: 45px;
   padding: 0;
  }

  .icon {
   margin-left: 20px;
  }

  .navbar-dark .navbar-nav .nav-link {
   padding-left: 50px;
   padding-right: 50px;
  }

  .main-image {
   width: 50%;
  }

  .list-inline i {
   margin: 0px 50px;
  }

  .video-2 {
   height: 350px;
  }

  .track-cover-opposite {
   float: left;
  }

  .track-title-opposite {
   float: none;
   text-align: left;
  }

  .player-opposite {
   float: none;
  }


 }
 